<form
class="createAccount-form"
[formGroup]="formUser"
(ngSubmit)="createAccount()"
>
<h1 id="signup" (click)="handleShowSignup()">
  Signup
</h1>
  <p *ngIf="emailErr" class="inputError">Email invalid</p>
  <div class="inputBox">
    <input
      type="text"
      name="emailUser"
      id="emailUser"
      required
      [(ngModel)]="inputEmail"
      formControlName="email"
    />
    <i>Email</i>
  </div>
  <div class="inputBox">
    <input
      type="text"
      name="nameUser"
      id="nameUser"
      required
      [(ngModel)]="inputName"
      formControlName="name"
    />
    <i>Name</i>
  </div>
  <div class="inputBox">
    <input
      type="password"
      name="passwordUser"
      id="passwordUser"
      title="A senha deve conter ao menos uma letra maiúscula, algum sinal (@#$%) e algum dígito(1-9)."
      required
      [(ngModel)]="inputPass"
      formControlName="password"
    />
    <i>Password</i>
  </div>
  <div class="inputBox">
    <input
      type="password"
      name="passwordConfirmUser"
      id="passwordConfirmUser"
      required
      [(ngModel)]="inputConfirmPass"
      formControlName="confirmPassword"
    />
    <i>Confirm password</i>
  </div>
  <div class="createAccount-buttons">
    <asl-google-signin-button
      (click)="handleCreateWithGoogle()"
      type="standard"
      size="medium"
      shape="pill"
      text="signup_with"
      [width]="200"
      theme="filled_blue"
      logo_alignment="center"
    >
    </asl-google-signin-button>
    <div id="create-btn" >
      <span *ngIf="loading; else createButton" id="loading"></span>
    </div>
    <ng-template #createButton>
      <button type="submit" [disabled]="!this.formUser.valid" id="create-btn">Create</button>
    </ng-template>
  </div>
</form>
