body {
  background-color: #0F2027;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createAccount-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.createAccount-container h1 {
  background: linear-gradient(to right, #F25116, #BF4B21);
  background-clip: text;
  color: transparent ;
}
.createAccount-container strong {
  color: #8C4130;
  width: 75%;
  text-align: center;
}
.createAccount-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 90%;
  margin-top : 40px;

}
.createAccount-form label {
  align-self: baseline ;
  color: #ffffff;
}
.createAccount-form input {
  background-color: #364559;
  color: #ffffff;
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem;
}
.createAccount-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-top: 2rem;
  min-height: 80vh;
  border-radius: 8px;
  box-shadow:  0 2px 10px 5px #000000;
  align-self: center;

}
.createAccount-intro {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.createAccount-buttons{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 28px;
  width: 100%;
  align-items: center;
}
#create-btn {
  width: 200px;
  height:32px;
  border-radius: 3rem;
  cursor: pointer;
  background-color: #e9e9ed;
  font-weight: bold;
  border: none;
}
#exit-btn {
  background: linear-gradient(to right, #F25116, #BF4B21);
  background-clip:text ;
  color: transparent;
  font-weight: 600;
  align-self: baseline;
}
.inputError {
  align-self: baseline;
  font-weight: 500;
  width: max-content;
  position: absolute;
  bottom: -1rem;
  font-size: small;
  color: red;
}
label {
  position: relative;
}
