:host{
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  position: absolute;
  background: linear-gradient(to right bottom , #03001e, #7303c0);
  bottom: 0;
  border-top-left-radius: 10% ;
  border-top-right-radius: 10% ;
  transition: all 0.5s linear;
}
.createAccount-form {
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  gap: 1rem;
  width: 100%;
  margin-top : 10px;
  padding: 0 1rem;
  
}
.createAccount-form h1 {
  margin-bottom: 2rem;
  transform: scale(1);
  user-select: none;
  cursor: pointer;
  text-align: center;
    background: linear-gradient( to right, #F25116, #BF4B21);
      background-clip: border-box;
    background-clip: text;
    color: transparent;
  transition: all 0.5s linear;  
}
.createAccount-form label {
  align-self: baseline ;
  color: #ffffff;
}
.createAccount-form input {
  background-color: #364559;
  color: #ffffff;
  width: 100%;
  border: none;
  border-radius: 0.3rem;
  margin-top: 0.3rem ;
  margin-bottom: 0.3rem ;
  padding: 1rem;
}
.createAccount-buttons{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 28px;
  width: 100%;
  align-items: center;
}
#create-btn {
  width: 200px;
  height:32px;
  border-radius: 3rem;
  cursor: pointer;
  background-color: #e9e9ed;
  font-weight: bold;
  border: none;
}
#create-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
#exit-btn {
  background: linear-gradient(to right, #F25116, #BF4B21);
  background-clip:text ;
  color: transparent;
  font-weight: 600;
  align-self: baseline;
}
.inputError {
  align-self: baseline;
  font-weight: 500;
  width: max-content;
  position: absolute;
  bottom: -1rem;
  font-size: small;
  color: red;
}
label {
  position: relative;
}
.inputBox
{
  position: relative;
  width: 100%;
}
.inputBox input
{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
.inputBox i
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
input:focus ~ i,input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.inputBox input[type="submit"]
{
  padding: 10px;
  background: #0f0;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active
{
  opacity: 0.6;
}