<div class="createRoomModal ">
    <form id="formPost" [formGroup]="formPost" (submit)="handlePost()">
      <section class="createPost" *ngIf="!postModal">
        <div class="inputBox">
          <input type="file" required [(ngModel)]="inputPostDescription" formControlName="name" title="Foto" /> <i>Foto</i>
        </div>
        <div class="inputBox">
          <input type="text" [(ngModel)]="inputPostDescription" formControlName="description" title="Descrição do post" /> <i>Descrição</i>
        </div>
      </section>
      <section class="modalButtonsAction">
        <button class="actionButton"  type="submit" [disabled]="!formPost.valid && !postModal" [title]="formPost.valid ? postModal ? 'Botão de entrar na sala ' : 'Botão de criar sala'  : 'Preencha corretamente os campos' " >
          {{postModal ? 'Entrar' : 'Criar'}}
        </button>
        <button (click)="handleCloseModal.emit(false)">
          Voltar
        </button>
      </section>
    </form>
  </div>
  