<div class="createRoomModal ">
  <section class="modalButtons">
    <button [ngClass]="{'selected' : !enterRoom }" (click)="handleCreateButton()" >
      Create Room
    </button>
    <button [ngClass]="{'selected' : enterRoom }" (click)="handleEnterButton()">
      Enter Room
    </button>
  </section>
  <section class="createRoom" *ngIf="!enterRoom">
    <div class="inputBox">
      <input type="text" required /> <i>Room Name</i>
    </div>
    <div class="inputBox">
      <input type="text" required /> <i>Room password</i>
    </div>
    <div class="inputBox">
      <input type="text" required /> <i>Confirm password</i>
    </div>
  </section>
  <section class="enterRoom" *ngIf="enterRoom" >
    <div class="inputBox">
      <input type="text" required /> <i>Id room</i>
    </div>
    <div class="inputBox">
      <input type="text" required /> <i>Password room</i>
    </div>
  </section>
  <section class="modalButtonsAction">
    <button class="actionButton" >
      {{enterRoom ? 'Entrar' : 'Criar'}}
    </button>
    <button (click)="handleCloseModal.emit(false)">
      Voltar
    </button>
  </section>
</div>
