<div class="createRoomModal ">
  <section class="modalButtons">
    <button [ngClass]="{'selected' : !enterRoom }" (click)="handleCreateButton()" >
      Create Room
    </button>
    <button [ngClass]="{'selected' : enterRoom }" (click)="handleEnterButton()">
      Enter Room
    </button>
  </section>
  <form id="formRoom" [formGroup]="formRoom" (submit)="handleRooms()">
    <section class="createRoom" *ngIf="!enterRoom">
      <div class="inputBox">
        <input type="text" required [(ngModel)]="inputRoomName" formControlName="name" title="Nome da sala" /> <i>Room Name</i>
      </div>
      <div class="inputBox">
        <input type="text" required formControlName="password" title="Senha da sala" /> <i>Room password</i>
      </div>
      <div class="inputBox">
        <input type="text" required formControlName="confirmPassword" title="Confirmar senha da sala" /> <i>Confirm password</i>
      </div>
    </section>
    <section class="enterRoom" *ngIf="enterRoom" >
      <div class="inputBox">
        <input type="text" required [(ngModel)]="inputRoomName" formControlName="name" /> <i>Id room</i>
      </div>
      <div class="inputBox">
        <input type="text" required formControlName="password" /> <i>Password room</i>
      </div>
    </section>
    <section class="modalButtonsAction">
      <button class="actionButton"  type="submit" [disabled]="!formRoom.valid && !enterRoom" [title]="formRoom.valid ? enterRoom ? 'Botão de entrar na sala ' : 'Botão de criar sala'  : 'Preencha corretamente os campos' " >
        {{enterRoom ? 'Entrar' : 'Criar'}}
      </button>
      <button (click)="handleCloseModal.emit(false)">
        Voltar
      </button>
    </section>
  </form>
</div>
