<div class="user-container">
  <a routerLink="/rooms">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#f5f5f5" class="bi bi-x" viewBox="0 0 16 16">
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
    </svg>
  </a>
  <section class="user-info">
    <div id="userPhoto-container" (mouseenter) = "handleChangePhoto()" (mouseleave) = "handleChangePhoto()" >
      <svg *ngIf="!user.photoUrl" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16" id="userPhoto">
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
      </svg>
      <img src="{{user.photoUrl}}" alt="Foto de {{user.name}}" id="userPhoto-container" *ngIf="user.photoUrl">
      <section id="editPhoto-container">
        <input type="file" id="file" (change)="handlePhoto()" >
        <label for="file" >
          <svg type="file" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f5f5f5" class="bi bi-pencil-fill" viewBox="0 0 16 16" id="editPhoto">
            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
          </svg>
        </label>
      </section>
    </div>
    <div class="user-data">
      <h1>
        {{user.name}}
      </h1>
      <p>
        {{user.email}}
      </p>
    </div>
  </section>
  <div class="data-container">
    <div class="pass-content">
      <section class="pass-container">
        <label id="passLabel">Password:</label>
        <input type="password" id="pass" value="{{pass}}" disabled>
        <button class="seePass" (click)="handleSeePass()">
          <svg id="seePassOn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#f5f5f5" class="bi bi-eye-fill" viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
          </svg>
          <svg id="seePassOff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#f2f2f2" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
            <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
            <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
          </svg>
        </button>
      </section>
    </div>
    <div class="buttons-container">
      <button (click)="handleChangePasswordModal()" class="buttons-user">Forget password ?</button>
      <button (click)="handleLogOut()" class="buttons-user">Log out</button>
    </div>
  </div>

  <form id="changePassModal" *ngIf="changePassModal">
    <div class="inputBox">
      <input type="password" required/> <i>Last password</i>
    </div>
    <div class="inputBox">
      <input type="password" required/> <i>New password</i>
    </div>
    <div class="inputBox">
      <input type="password" required/> <i>Confirm password</i>
    </div>
    <div class="buttons-container-modal">
      <button class="buttons-modal">
        Confirm
      </button>
      <button type="button" class="buttons-modal" (click)="handleChangePasswordModal()">
        Cancel
      </button>
    </div>
  </form>
</div>
