<div class="user-container">
  <section class="user-info">
    <div>
      <img src="https://picsum.photos/seed/picsum/200" alt="">
    </div>
    <div class="user-data">
      <h1>
        Pitico
      </h1>
      <p>
        thaythay&#64;email.com
      </p>
    </div>
  </section>
  <div class="data-container">
    <div class="pass-content">
      <section class="pass-container">
        <label id="passLabel">Password:</label>
        <input type="password" id="pass" value="{{pass}}" disabled>
        <button class="seePass" (click)="handleSeePass()">
          <svg id="seePassOn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#f5f5f5" class="bi bi-eye-fill" viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
          </svg>
          <svg id="seePassOff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#f2f2f2" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
            <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
            <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
          </svg>
        </button>
      </section>
    </div>
    <div class="buttons-container">
      <button (click)="handleChangePassword()" class="buttons-user">Forget password ?</button>
      <button (click)="handleLogOut()" class="buttons-user">Log out</button>
    </div>
  </div>

  <form id="changePassModal">
    <div class="inputBox">
      <input type="password" required/> <i>Last password</i>
    </div>
    <div class="inputBox">
      <input type="password" required/> <i>New password</i>
    </div>
    <div class="inputBox">
      <input type="password" required/> <i>Confirm password</i>
    </div>
    <div class="buttons-container-modal">
      <button class="buttons-modal">
        Confirm
      </button>
      <button class="buttons-modal">
        Cancel
      </button>
    </div>
  </form>
</div>
