<div *ngIf="commentVisible">
    <div class="commentBackground" (click)="closeModal()">
    </div>
    <div class="commentModal"  >
        <div class="comment">
            <section class="commentUser">
            <img src="https://picsum.photos/24" alt="">
            <h3>
                Nome do meliante
            </h3>
        </section>
        <section>
            Comentário do meliante
        </section>
    </div>
       <div class="space"></div>
       <div class="space"></div>
    </div>
</div>