<div id="login-container">
  <section class="login-modal">
    <div class="signin">
      <div class="content">
        <h2 id="login" (click)="showLogin()">Login</h2>
        <div class="form">
          <strong *ngIf="err" id="errMessage">
            Username or password incorrect!
          </strong>
          <div class="inputBox">
            <input type="text" required [(ngModel)] = 'inputName' /> <i>Username</i>
          </div>

          <div class="inputBox">
            <input type="password" required [(ngModel)] = 'inputPass' /> <i>Password</i>
          </div>
         

          <section class="buttons-container">
            <div *ngIf="loadingWithGoogle; else notLoadingGoogle" class="loading-container">
              <span class="loading"> </span>
            </div>
            <ng-template #notLoadingGoogle>
              <asl-google-signin-button
                (click)="handleLoginGoogle()"
                type="standard"
                size="medium"
                shape="pill"
                text="signin_with"
                [width]="200"
                theme="filled_blue"
                logo_alignment="center"
              >
              </asl-google-signin-button>
            </ng-template>
            <div *ngIf="loading; else notLoading" class="loading-container">
              <span class="loading"> </span>
            </div>
            <ng-template #notLoading>
              <button class="guest-btn" (click)="handleLogin()">Login</button>
            </ng-template>
          </section>
        </div>
      </div>
      <app-create-account [height]="signupHeight" (handleHeight)="showSignup($event)" />
    </div>
  </section>
</div>
