<header>
  <div class="menu">
      <button class="addRoom" (click)="handleModalRooms()">
        <img src="../../../assets/addIcon.svg" alt="Add new room icon" id="AddIcon">
      </button>
      <a routerLink="/user">
        <div class="user" (click)="handleMenu()" (mouseenter)="handleBypass()" (mouseleave)="handleBypass()" >
        <img src="../../../assets/userIcon.svg" alt="User menu" id="UserIcon">
        <span class="user-span" [ngStyle]="bypass ? {'display': 'inherit'} : {'display': 'none'}"></span>
        <span class="user-span" [ngStyle]="!bypass ? {'display': 'inherit'} : {'display': 'none'}"></span>
      </div>
    </a>
    </div>
</header>
