
@keyframes load {
  from{
    transform: rotate(360deg);
  }
}
.post{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100vw;
  align-items: center;
  padding: 1rem;
}
.post #post-profile{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  color: #f5f5f5;
  padding: 0.3rem;
  gap: 0.5rem;
}
.post #post-profile section {
  display: flex;
  align-items: center;
}

.post #post-profile .post-menu{
  background-color: transparent;
  z-index: 5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
  justify-self: center ;
  text-align: center;
}

.post-menu button {
  color: #f5f5f5;
  background-color: transparent;
} 

.menu-modal{
  display: none;
  flex-direction: column;
  position: absolute;
  padding: 0.3rem;
  left: 0;
  right: 0;
  bottom: -6.3rem;
  width: 6rem;
  height: 6rem;
  align-items: center;
  justify-content: center;
  border-radius:0.2rem;
  list-style: none;
  background-color: #222121;
}
.menu-modal li {
  border-radius: 0.2rem ;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  height: 100%;
  transition: all 0.3s linear;
}
.menu-modal li:hover {
  background-color: rgba(245, 245, 245, 0.8);
}

.post #post-profile img {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.post #post-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.post #post-content .photo{
  width: 20rem;
  height: 30rem;
  object-fit: contain;
  background-color: #222121;
}

#description{
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  display: flex;
}

.description-content {
  white-space: nowrap;
  width: 70%;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
}
#description-button {
  background-color: transparent;
  position: absolute;
  bottom: -1rem;
  right: 4.5rem;
  color: #f5f5f5;
  justify-self: end;
  align-self: baseline;
  padding: 0.3rem;
  /* margin-top: 0.2rem; */
  font-size: x-small;
  width:fit-content ;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s linear;
}

#description-button:hover{
color: wheat;
opacity: 1;
}

.post .photo.noPhoto , #imageLoadingErr {
  position: relative;
  content: '';
  align-items: center;
  justify-content: center;
  background-color: #222121;
}
.photo.noPhoto::after, .photo.noPhoto::before{
  position: absolute;
  width: 6px;
  height: 6px;
  padding: 0.3rem;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto ;
  content: '';
  border-radius: 999%;
  border: 2px solid #222121;
}
.photo.noPhoto::after{
  border-left-color: #f5f5f5;
  animation: load 1s infinite linear;
}

#imageLoadingErr span{
  position: absolute;
  color: #f5f5f5;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
}

#imageLoadingErr::after, #imageLoadingErr::before{
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: '';
  background-color: #f5f5f5;
}
#imageLoadingErr::after{
  transform: rotate(45deg);
}
#imageLoadingErr::before{
  transform: rotate(-45deg);
}

.post #post-menu {
  display: flex;
  gap: 1rem;
  width: 80%;
  align-items: end;
}
.button-post {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  background-color: transparent
}
.button-post svg {
  width: 24px;
  height: 24px;
}
.lastComment{
  width: 80%;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  color: #f5f5f5;
  font-size: small;
  gap: 0.2rem;
  cursor: default;
}
.lastComment img{
  width: 16px;
  border-radius: 50%;
}
.lastComment span {
  white-space: nowrap;
  width: 7rem;
  text-overflow: ellipsis;
  overflow: hidden;
}