/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background: linear-gradient(to bottom right, #0F2027, #203A43, #2C5364);
}
